<md-content class="md-padding" layout="column">
  <div class="row">
    <webcam class=""
              on-stream="onStream(stream)"
              on-error="onError(err)"
              on-streaming="onSuccess()"
              channel="channel"
              placeholder="'img/ajax-loader.gif'">
              <div class="alert alert-error" ng-show="webcamError">
                  <span>Webcam could not be started. Did you give access to it?</span>
              </div>
          </webcam>
          <h1 style="margin-top: 2.5em;">Capture video data</h1>
    <div class="row-fluid">
        <div class="span6">
            <md-button ng-click="makeSnapshot()">Take snapshot!</button>
        </div>
        <div class="span6">
            <canvas id="snapshot" class="md-whiteframe-1dp"></canvas>
            <md-button ng-click="downloadSnapshot(snapshotData)" ng-disabled="!snapshotData" >Download ^^</md-button>
            <md-button ng-click="showBase64 = !showBase64">Show as base64 encoded URL</md-button>
            <textarea class="snapshot-data" ng-model="snapshotData" ng-show="showBase64"></textarea>
        </div>
    </div>
  </div>
  <div class="row">
    <md-card ng-repeat="p in participants">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{p.name}}</span>
                <!-- <span class="md-subhead">Large</span> -->
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Sign In</md-button>
            <md-button>Sign Out</md-button>
        </md-card-actions>
    </md-card>
    </div>
</md-content>
